@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lobster|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kaushan+Script|Lobster|Pacifico');

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #333333;
    padding: 20px 5px 20px 5px;
}
header li{
    display: inline;
    padding: 2px 20px 20px 20px;
}
header h1{
    float: left;
    font-family: 'Kaushan Script', cursive;
    color: #efefef;
    padding: 2px 20px 20px 20px;
}
.line{
    background-color: #e3ac1b;
    padding: 4px 5px 4px 5px;  
}
header>nav>ul>li>a{
    text-decoration: none;
  width: 100% !important;
    color: #efefef;
    background-color: #333333;
    padding: 2px 2px 2px 2px;
}
header>nav>ul>li :hover{
    background-color:#e3ac1b;
    color: #333333;
    padding: 30px 20px 29px 20px;
    margin: 0px;
    transition:all 0.6s;
}
header form{
    display: inline-block;
    float: right;
}
header form{
    display: inline;
    margin: -20px 350px 0px 0px;
    border: solid 3px #e3ac1b;

}



